<div class="container_cocktail">
  <div class="cocktail_banner">
    <h1 class="title_index">THE ALCHEMIST</h1>
    <div class="button_add">
        <%= link_to "Add your cocktail", new_cocktail_path, class: "btn btn-light pad20" %>
    </div>
  </div>
  <div class="cocktails_list">
    <div class="row row-cols-1 row-cols-md-3">
      <% @cocktails.each do |cocktail| %>
        <div class="col mb-4">
            <div class="card" style="width: 21rem;">
              <div class="card-body">
                <%= image_tag cocktail.url, width: 300, height: 225, crop: :fill %>
                <h5 class="card-title text-decoration-none text-info"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
                <%= link_to "Delete", cocktail_path(cocktail), class: "btn btn-danger btn-xs", method: :delete  %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
