// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.container_cocktail {
  background-color: #f9f7f5;
}

.cocktail_banner {
  background-color: #ad9860;
  width: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
    .title_index {
      color: white;
      font-family: 'Cinzel', serif;
    }
}

.row {
  padding-top: 20px;
  text-align: center;
  padding-left: 150px;
}

.button_add {
  position: absolute;
  right: -10px;
  bottom: 750px;
  width: 230px;
}

.card {
  border: #f2f1f0 solid 6px;
}

.cocktails_list {
  padding: 20px 10px 20px 10px;
}

.button_submit {
  position: absolute;
  right: 340px;
  bottom: 630px;
  width: 230px;
}

.button_back {
  position: absolute;
  right: 340px;
  bottom: 590px;
  width: 230px;
}

.list_ingredient{
  text-decoration: none;
}

.delete_button {
  font-size: 50%;
  position: absolute;
  right: 20px;
  top: 10px;
}
